@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  color: #222;
  font-family: "BIZ UDPGothic", sans-serif;
}
* {
  box-sizing: border-box;
  word-wrap: break-word;
  letter-spacing: 0.05em;
  line-height: 1.4;
}
h2,
h3,
h4,
h5,
#page-title {
  font-family: "M PLUS 1p", sans-serif;
  margin: 0;
  margin: 20px 0;
}
p {
  line-height: 1.7em;
}
#page-title {
  text-align: center;
  font-size: 30px;
}
header,
footer {
  text-align: center;
  padding: 15px;
  background-color: #200;
  color: #fff;
}
header {
  background-image: url(https://0quake.github.io/ZeroQuake_Website/image/screenshot.webp);
  background-size: cover;
  background-position: center;
  position: relative;
}
#header_content {
  display: inline-block;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 20px;
  color: #000;
}
#title-wrap {
  display: inline-block;
  width: fit-content;
  vertical-align: middle;
  margin-left: 15px;
}
header img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}
header h1,
header p {
  text-align-last: justify;
  margin: 0;
}
header h1 {
  margin-bottom: 10px;
  font-size: 38px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
#copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  color: #ccc;
  filter: drop-shadow(0 0 2px #000);
}

a:link {
  color: rgb(133, 59, 43);
}

nav {
  height: 53px;
  font-size: 0;
  text-align: center;
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;
}
nav a:link {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  font-size: 16px;
  line-height: 50px;
  padding: 0 8px;
  border-radius: 0 0 7px 7px;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 3px transparent;
  color: #333;
}
nav a:hover {
  border-color: rgb(170, 79, 58);
  color: #000;
}
#page-title::after {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  content: "";
  height: 5px;
  border-radius: 2.5px;
  width: 200px;
  margin: 5px auto;
  max-width: 50%;
  background: rgb(170, 79, 58);
}
main {
  padding: 10px 10%;
}
section {
  margin: 30px 0;
}
h2 {
  background: #fff;
  color: #333;
  padding: 5px 20px 5px 0px;
  border-radius: 5px;
  margin-bottom: 10px;
}
h2::before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 30px;
  border-radius: 2.5px;
  margin: 0 10px;
  background: rgb(170, 79, 58);
  vertical-align: top;
}
.section-content-wrap {
  padding-left: 20px;
}
#download-section {
  text-align: center;
}
#download-section h2 {
  text-align: left;
}
#download_link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #200;
  background: #fff;
  border-radius: 7px;
  transition: 0.1s;
  border: solid 1px #200;
  font-size: 18px;
}
#download_link:hover {
  background: #200;
  color: #fff;
}
#download_link.disabled {
  background: #444;
  color: #ccc;
  border: solid 1px #666;
}
#flex-wrap {
  display: flex;
}
#SNS_Link a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}
#Twitter_link {
  background-image: url(../image/SNS/Twitter_Logo.svg);
}
#YouTube_link {
  background-image: url(../image/SNS/YouTube_Logo.png);
}
section h3::before {
  display: inline-block;
  content: "";
  height: 5px;
  width: 30px;
  border-radius: 2.5px;
  margin: 0 10px;
  background: rgb(170, 79, 58);
  vertical-align: middle;
}
#infoList img {
  display: block;
  width: 500px;
  max-width: 100%;
}

.small {
  font-size: 14px;
}
