<Files ~ "^\.ht">
deny from all
</Files>
<Files favicon.ico>
ErrorDocument 404 https://0quake.github.io/ZeroQuake_Website/favicon.ico
</Files>

#Browser cache
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/gif "access plus 6 months"
ExpiresByType image/jpeg "access plus 6 months"
ExpiresByType image/png "access plus 6 months"
ExpiresByType image/x-icon "access plus 6 months"
ExpiresByType text/css "access plus 6 months"
ExpiresByType text/javascript "access plus 6 months"
ExpiresByType application/javascript "access plus 6 months"
ExpiresByType application/x-javascript "access plus 6 months"
</IfModule>

<Files ~ “\.(html)$”>
Header set Pragma no-cache
Header set Cache-Control no-cache
</Files>

#Proxy cache
<IfModule mod_headers.c>
<FilesMatch "\.(ico|jpe?g|png|webp|gif|svg|swf|pdf|ttf|woff|woff2|otf|eot)$">
Header set Cache-Control "max-age=15778800, public"
</FilesMatch>
Header append Vary Accept-Encoding env=!dont-vary
</IfModule>

#Compress gzip
<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|woff|woff2|svg|ico)$ no-gzip dont-vary
AddOutputFilterByType deflate text/plain
AddOutputFilterByType deflate text/html
AddOutputFilterByType deflate text/xml
AddOutputFilterByType deflate text/css
AddOutputFilterByType deflate application/xml
AddOutputFilterByType deflate image/svg+xml application/xhtml+xml application/xml
AddOutputFilterByType deflate application/xhtml+xml
AddOutputFilterByType deflate application/rss+xml
AddOutputFilterByType deflate application/javascript
AddOutputFilterByType deflate application/x-javascript
AddOutputFilterByType deflate application/x-httpd-php
AddOutputFilterByType deflate application/x-font-ttf
AddOutputFilterByType deflate application/x-font-woff
AddOutputFilterByType deflate font/woff2
AddOutputFilterByType deflate application/x-font-opentype
AddOutputFilterByType deflate application/octet-stream

</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTPS} !on
RewriteRule ^(.\*)$ https://%{HTTP_HOST}%{REQUEST_URI}$1 [R=301,L]

RewriteCond %{THE*REQUEST} ^.*/index.html
RewriteRule ^(.\_)index.html$ https://0quake.github.io/ZeroQuake_Website/$1 [R=301,L]

RewriteCond %{THE*REQUEST} ^.*/index.php
RewriteRule ^(.\_)index.php$ https://0quake.github.io/ZeroQuake_Website/$1 [R=301,L]

RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_URI} !\.[^/\.]+$
RewriteRule .\* %{REQUEST_URI}/ [R=301,L]
</IfModule>

order deny,allow

AddType image/xicon .ico

ErrorDocument 401 https://0quake.github.io/ZeroQuake_Website/error/401.html
ErrorDocument 403 https://0quake.github.io/ZeroQuake_Website/error/403.html
ErrorDocument 404 https://0quake.github.io/ZeroQuake_Website/error/404.html
ErrorDocument 500 https://0quake.github.io/ZeroQuake_Website/error/500.html
ErrorDocument 503 https://0quake.github.io/ZeroQuake_Website/error/503.html

Header always set X-Frame-Options "SAMEORIGIN"
Header always set Strict-Transport-Security "max-age=31557600; includeSubDomains; preload" env=HTTPS
Header always set Access-Control-Allow-Origin \_
Header always set X-XSS-Protection "1; mode=block"
Header always set X-Content-Type-Options nosniff
Header always set Referrer-Policy "no-referrer"
Header always set Permissions-Policy geolocation=(self),camera=(self),fullscreen=(self)
